<fieldset>
  <legend>Simulation Control</legend>

  <p>
    <label for="diceNum">Dice number: </label>
    <input id="diceNum" [(ngModel)]="diceNum" placeholder="enter desired dice number here">
  </p>

  <p>
    <label for="diceSideNum">Dice sides number: </label>
    <input id="diceSideNum" [(ngModel)]="diceSideNum" placeholder="enter desired number of dice sides here">
  </p>

  <p>
    <label for="rollNum">Roll number: </label>
    <input id="rollNum" [(ngModel)]="rollNum" placeholder="enter desired number of rolls here">
  </p>

  <button (click)="onRollButtonClick()">Roll the dice!</button>
</fieldset>
